{% comment %} <footer id="footer" class="fixed-bottom "> {% endcomment %}
<footer class="footer text-center {% if video %} d-none {% endif %} text-lg-start text-muted border-top border-secondary" style="background-color:#060606;">
  <!-- Section: Social media -->
  <div class="container-fluid">
    <section
      class="d-flex justify-content-center justify-content-lg-between py-4">
      <!-- Left -->
      <div class="mb-1 d-none d-lg-block" style="margin-left:30px;">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Right -->
      <div style="margin-right:30px;">
          <i class="fab fa-telegram"></i>
          <i style="padding-left:25px;" class="fab fa-vk"></i>
          {% comment %} <i style="padding-left:25px;" class="fab fa-instagram"></i> {% endcomment %}
          {% comment %} <i style="padding-left:25px;" class="fab fa-twitter"></i> {% endcomment %}
      </div>
    </div>
  </section>
</footer> 


